<h1>Welcome to the most awesome recipes of the web!</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %>
</ul>

<%= link_to "Create a new recipe", new_recipe_path, class: "btn btn-primary" %>
